body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #232f3e; /* Dark Amazon color */
    color: white;
    padding: 10px;
}

h1 {
    margin: 0;
    display: inline-block;
}

.navbar {
    float: right;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    background-color: #37475a; /* Slightly lighter shade */
}

.main {
    padding: 20px;
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    padding: 10px;
    margin: 5px 0;
}

.flashes .success {
    background-color: #dff0d8;
    color: #3c763d;
}

.flashes .danger {
    background-color: #f2dede;
    color: #a94442;
}

.flashes .info {
    background-color: #d9edf7;
    color: #31708f;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
}

.book-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    flex: 1 1 30%; /* Responsive layout */
}
